@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p> <br /> </p>
<strong>Email:</strong> <a href="mailto:paul3ioan@gmail.com">paul3ioan@gmail.com</a>
<br />
